body {
  background-color: #ddeefc;
  /* overflow: hidden; */
  padding: 1px;
}

body * {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formBox {
  width: 90vw;
  height: 600px;
  max-width: 600px;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 200px;
}
.formBox * {
  margin: 5px 0;
}

.cardNumber,
.cardHolder {
  width: 100%;
  height: 50px;
}

.card {
  width: 80vw;
  max-width: 450px;
  height: 250px;
  border-radius: 20px;
  background-size: cover;
  color: #fff;
  background-repeat: no-repeat;
  margin-bottom: -12vh;
  box-shadow: 0 30px 40px #a0adc0;
  z-index: 2;
}

.card header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.card header img {
  width: auto;
  height: 50px;
}

.metaBox {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 70% 30%;
}

.metaBox input {
  height: 40px;
}

.formBox button {
  width: 100%;
  height: 50px;
  background-color: #2c64d2;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 100;
  font-size: 25px;
  letter-spacing: 2px;
  box-shadow: 0 10px 20px #d6e5f7;
}
.dateBox input {
  margin-right: 25px;
}
/* 
Card background-image classes */

.bgImage1 {
  background-image: url('./images/visa1.jpg');
}
.bgImage2 {
  background-image: url('./images/visa2.jpg');
}
.bgImage3 {
  background-image: url('./images/visa7.jpg');
}
.bgImage4 {
  background-image: url('./images/visa4.jpg');
}
.bgImage5 {
  background-image: url('./images/visa10.jpg');
}
.bgImage6 {
  background-image: url('./images/visa8.jpg');
}
